In [5]:
# 주석 
# docstring은 """으로 표현 가능 

def my_sum(x, y):
    """"이 함수는 인자 x와 y를 더합니다.
    더한 값을 리턴합니다.
    이런 주석을 docstring이라고 부릅니다."""
    return x + y

In [6]:
my_sum.__doc__

'"이 함수는 인자 x와 y를 더합니다.\n    더한 값을 리턴합니다.\n    이런 주석을 docstring이라고 부릅니다.'

In [7]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [8]:
# 여러줄 작성 
print('첫번째줄\
        두번째줄')

첫번째줄        두번째줄

In [13]:
print('첫번째줄')
print('\n두번째줄')

첫번째줄

두번째줄

In [14]:
# 동시에 값 할당 
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

In [16]:
x = 2
y = 1
z = x
print(x, y, z)

2 1 2

In [22]:
# 컴퓨터식 지수 표현 방식 e 
314 * 10 * 10 == 314e2

True

In [38]:
314 * 0.01 == 314e-2

True

In [40]:
# 실수 연산 
a = 3.5 - 3.12
b = 0.38
a - b

-1.1102230246251565e-16

In [45]:
import sys
abs(a-b) <= sys.float_info.epsilon

True

In [47]:
from decimal import Decimal
Decimal(a-b)

Decimal('-1.1102230246251565404236316680908203125E-16')

In [56]:
format(a-b,'.50f')

'-0.00000000000000011102230246251565404236316680908203'

In [44]:
import math 

math.isclose(a, b) # a 실수 연산이 b와 같은지 확인 후 bool값 반환

True

In [58]:
# 복소수
a = 3 - 4j
type(a)

complex

In [62]:
# bool -> 0빼고 나머지는 다 True
print(bool(0))
print(bool(2))
print(bool(-1))
print(bool(1.3))

False
True
True
True

In [68]:
# 문자열 
print('철수 왈 \'안녕\'')
print('철수 왈 "안녕"')

철수 왈 '안녕'
철수 왈 "안녕"

In [70]:
print("이건\
        여러줄\
        불가능")

print("""
    이건
    여러줄
    가능
    """)

이건        여러줄        불가능

    이건
    여러줄
    가능

In [72]:
# 문자열 + 연산자 
laugh = 'Ha'
laugh * 3 + ' 재밌다.'

'HaHaHa 재밌다.'

In [73]:
# 이스케이프 시퀀스 
print('이건 1번줄 \n이건 두번째줄 \t얘는 멀리 띄울래')

이건 1번줄
이건 두번째줄 	얘는 멀리 띄울래

In [74]:
print('안녕하세요', end='\n')
print('반갑습니다')

안녕하세요
반갑습니다

In [75]:
# string interpolation
name = '00'
# f-string
f'안녕하세요 저는 {name}입니다.'

'안녕하세요 저는 00입니다.'

In [76]:
# str.format
'안녕하세요 저는 {}입니다.'.format(name)

'안녕하세요 저는 00입니다.'

In [78]:
# %-formatting
'안녕하세요 저는 %s입니다.' %name

'안녕하세요 저는 00입니다.'

In [79]:
import datetime 
today = datetime.datetime.now()
today

datetime.datetime(2023, 4, 16, 22, 51, 26, 550311)

In [80]:
f'오늘은 {today:%Y}뇬 {today:%m}월 {today:%d}일 {today:%A}요일입니다.'

'오늘은 2023뇬 04월 16일 Sunday요일입니다.'

In [83]:
# 산술 연산자 
print(10/3) # 나누기
print(10//3) # 몫
print(10%3) # 나머지 
print(10**3) # 거듭제곱

3.3333333333333335
3
1
1000

In [90]:
# 논리 연산자
print(True and True and False)
print(True and True and True)
print(False and False)

False
True
False

In [91]:
print(True or False)
print(True and True or False)
print(True and False and False)
print(True or False and False)
print(True or False or False)

True
True
False
True
True

In [93]:
# identity
# python에서 -5부터 256까지의 id는 동일
a = 1
b = 1
id(a), id(b)

(140716030633776, 140716030633776)

In [94]:
a = 257
b = 257
id(a), id(b)

(1670664011024, 1670664011120)

In [96]:
# 시퀀스 자료형 
## 1. list 
l = []
ll = list()
print(l, ll)
print(type(l))
print(type(ll))

[] []
<class 'list'>
<class 'list'>

In [99]:
numbers = [1, 2, 3, 4, 5, 6]
print(numbers[0])
numbers[0] = 0
print(numbers)

1
[0, 2, 3, 4, 5, 6]

In [101]:
## 2. tuple 
t1 = (1, 2, 3)
t2 = 1, 2, 3
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [103]:
t1[0] = 0
# 리스트와 달리 인덱스 위치를 기준으로 값을 불러온 뒤 값 변경 불가능 !

TypeError: 'tuple' object does not support item assignment

In [104]:
x, y = 1, 2
z = 'abc'
x, y, z

(1, 2, 'abc')

In [107]:
test = x, y, z
type(test)

tuple

In [108]:
# 빈 튜플은 빈 소괄호 쌍으로 만들어짐
l = [] # list 
t = () # tuple 

print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [112]:
## 3. range 
# range는 숫자의 시퀀스를 나타내기 위해 사용됨 

# 기본형 range(n)
print(range(10))
list(range(10))

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
# 범위지정 range(n, m)
print(range(1, 11))
list(range(1, 11))

range(1, 11)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
# 범위 및 스텝지정 range(n, m, s)4
print(range(0, 11, 2))
list(range(0, 11, 2))

range(0, 11, 2)

[0, 2, 4, 6, 8, 10]

In [121]:
# 순서가 없는 자료구조 
## 1. set (like 집합)
set1 = {1, 2, 3}
set2 = {3, 6, 9}

print(set1 - set2) # 차집합 (set1에 대한 set2의 차집합)
print(set2 - set1) # set2에 대한 set1의 차집합 
print(set1 | set2) # 전체집합
print(set1 & set2) # 교집합

{1, 2}
{9, 6}
{1, 2, 3, 6, 9}
{3}

In [123]:
# set을 활용하면 list의 중복된 값을 손쉽게 제거 가능 
numbers = [1, 2, 3, 3, 2, 4, 1, 1]
uniq = []
for number in numbers:
    if number not in uniq:
        uniq.append(number)
        
print(uniq)

[1, 2, 3, 4]

In [124]:
uniq = set(numbers)
uniq

{1, 2, 3, 4}

In [ ]:
## 2. 딕셔너리